.container {
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: -23rem; /* Adjust this value as needed */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.search-bar {
  width: 100%; /* Full width on small devices */
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem; /* Adjust this value as needed */
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.method-container {
  margin-top: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search-bar {
    width: 90%; /* Adjust this value as needed */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .search-bar {
    width: 900px; /* Adjust this value as needed */
  }
}